:root{
    /* colors */
    --primary-clr: #f68b1e;
    --accent-clr1: #e61601;
    --accent-clr2: #96d2c8;

    /* fonts */
    --ff-main: "Roboto", sans-serif;
    --fs-min: 12px;
    --fs-small:14px;
    --fs-norm: 16px;
    --fs-big: 20px;
    --fw-light: 300;
    --fw-norm: 400;
    --fw-bold: 700;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    font-family: var(--ff-main);
    font-size: var(--fs-norm);
    font-weight: var(--fw-norm);
}

.btns{
    border: none;
    background: var(--primary-clr);
    color: #fff;
    padding: 0.75em 1em;
    border-radius: 3px;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
}

.btns:hover{
    background: #c76605;
    
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.jum{
    margin: 0 auto;

}

.banner{
    height: 60px;
    background-image: url(/assets/img/banner-top.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;    
}

.qa{
    height: 30px;
    background: #f1f1f2;
    font-size: var(--fs-min);
    font-weight: var(--fw-bold);
    color: var(--primary-clr);
}

.qa-sell{
    width: 25%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.qa-sell:hover{

    text-decoration: underline;
}


.qa-sell img{
    height: 16px;
    width: 16px;
    margin: 4px;
}


.qa-buy{
    width: 25%;
    /* outline: 1px solid red; */
    display: flex;
}

.qa-buy img{
    height: 10px;
    width: 60px;
}



.header{
    box-shadow: 0px 3px 5px 1px rgba(128, 128, 128, 0.1);
    padding: 0.5em 0;
    
}

.navbar{
    height: 50px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    
}

.navlogo{
    height: 80%;   
    display: flex;
    align-items: center;
}

.navlogo img{
    height: 30px;
    width: 135px;
}

.search-section{
    margin-left: 7em;
    height: 55%;
    display: flex;
    align-items: center;
    
    
}

.search-bar{
    height: 100%;
    width: 500px;
    outline: 2px solid #acacac;
    margin-right: 16px ;
    border-radius: 3px;
    
}

.search-bar i{
    margin: 0 0.5em;
}

.search-bar input{
    border: none;
    height: 100%;
    width: 90%;
    margin: 0 0.25em;
}



.actions label{
    padding: 1em;
}

.actions label:hover{
    color: var(--primary-clr)
}

.main{
    background: #f1f1f2;
}


.categories{
    padding: 1em 0;
    width: 50%;
    background: transparent;
    margin: 0 auto;
    display: flex;
    gap: 1em;
}

.categories-section{
    width: 17.5%;
    box-shadow: 0px 3px 5px 1px rgba(128, 128, 128, 0.3);
    border-radius: 3px;
    background: #fff;

}

/* .categories-list{

} */

.categories-list li{
    font-size: var(--fs-small);
    margin: 1em;
    list-style: none;
    padding: 0px 0px 0px 8px;
}

.categories-list li:hover{
    color: var(--primary-clr);
}

.category-showcase{
    width: 65%;
    box-shadow: 0px 3px 5px 1px rgba(128, 128, 128, 0.1);
    border-radius: 3px;
    background-size: cover;
    background-position: center;
    transition: background-image 1s ease-in-out;
}

.category-help{
    width: 17.5%;
    /* outline: 3px solid yellowgreen; */

}

.ch-top{
    height: 50%;
    /* outline: 3px solid blue; */
    box-shadow: 0px 3px 5px 1px rgba(128, 128, 128, 0.1);
    border-radius: 3px;
    font-size: var(--fs-small);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background: #fff;

}

.ch-top-card{
    padding: 10px 1px;

}

.ch-bottom{
    height: 50%;
    box-shadow: 0px 3px 5px 1px rgba(128, 128, 128, 0.1);
    border-radius: 3px;

    background-image: url("/assets/img/categories-help.gif");
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
}

